  .hideable-div {
    width: 100%;
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
}
  .inner-div{
    width: 33%;
  }
.animalButtonz {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.animalButtonz:active {
  border-bottom-color: #a2a6ac;
}

.animalButtonz:active:hover {
  border-bottom-color: #a2a6ac;
}

.animalButtonz:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.animalButtonz:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}
.clicked {
  background-image: linear-gradient(#1862f7 ,#89b5f7);
}
#confidence{
    color: rgb(255, 255, 255);
    font-style: initial;
    font-weight: 800;
}
.coreOpsButtons {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.operationButtons{
  background-color: white; 
}
.animal_name_input_class {
  font-family: inherit;
  background: transparent;
  width: 400px;
  outline: 0;
  border: 0;
  border-bottom: 3px solid #0A66C2;
  font-size: 20px;
  color: #000000;
  padding-bottom: 5px;
}
.confidence_class{
  color: #000000;
  display: inline;
  font-size: 20px;
}
.coreOpsButtons:hover,
.coreOpsButtons:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.coreOpsButtons:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.coreOpsButtons:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
#fixedops{
margin-top:7px;
margin-bottom: 7px;
text-align: center;
background-image: url("CTAILogo.png");
background-size: 2.5% 100%;
background-repeat:no-repeat;
}
.selectionContent {
    width: 100%;
    height:auto;
    text-align: center; /* Center align text */
    padding: 0px;
    position: absolute; /* Fix the position */
    left: 0; /* Align it to the left */
    z-index: 999; /* Set z-index to ensure it's behind the hideable div */
}
/* CSS for the popup div */
.popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(150, 147, 147);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: visible;
  object-fit: contain;
}
.popup img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20px;
}
#zoomImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#button-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: #071301;
  display: none;
  z-index: 1001; /* Ensure buttons stay above image */
}
.popup .showbox-button {
    line-height: 12px;
     font-size: 8pt;
     font-family: tahoma;
     position:absolute;
     top:0;
     left:0;
}
.popup .conf {
  position: absolute;
  top: 0;
  left: 120px;
  font-style: oblique;
  color: antiquewhite;
  background-color: #1862f7;
}
.highlighted {
    border: 4px solid rgb(91, 236, 77); /* Set border color and width */
    box-sizing: border-box; /* Include border in element's total width and height */
}
.animalImages{
    background-color: transparent;
    margin: 0 auto;
}
.animalButtons{
	background-color:darkgrey;
}











.popup-form {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: rgb(150, 147, 147);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  overflow: visible;
  object-fit: contain;
  border:solid;
}
.popup-form .close{
	font-size:x-large;
	padding:10px;
	border:solid;
	position: absolute;
	  top: 0;
	  right: 0;
	  cursor: pointer;
}
.left-inputs{
  float: left;
}
.right-inputs{
   float: left;
}
.popup-form input[type="text"] {
  width: 40%;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
  font-size: 16px;
}

.suggestions {
  display: flex;
}

.left-suggestions, .right-suggestions{
  flex: 1;
  float: left;
  width: calc(40%);
}
.suggestions div {
  padding: 5px;
  cursor: pointer;
}

.suggestions div:hover {
  background-color: #ddd;
}

ul {
  list-style: none;
}
.list {
  width: 40%;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px 5px;
}
.list-items:hover {
  background-color: #dddddd;
}
.add-another{
  width: 12%;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #8b7baa;
  outline: none;
  border-radius: 5px 5px 5px 5px;
  background-color: #ffffff;
  font-size: 14px;
}
.update-names{
  text-align: center;
}
#moveTo{
  display: inline;
}