<!DOCTYPE html>
<html>
<head>
    <title>CamTrap.AI</title>
<link rel="stylesheet" href="static/CamTrapStyle.css" />
</head>
<body>
<span id="stage-number" style="display:none;">{{ Stage }}</span>
    <div id="fixedops">
        <button id="exitButton" class = "coreOpsButtons" onclick="exitSystem()">Exit</button>
        <button id="infoButton" class="toggle-button coreOpsButtons" onclick="toggleDiv()">Hide Instructions</button>
		<button id="load100Button" class = "coreOpsButtons" onclick="Load100Images()">Load 100 Images</button>
        <button id="nextButton" class = "coreOpsButtons" disabled="True" onclick="newSession()" style="display:none;">Load Next 100 Images</button>
    </div>
    <div class="hideable-div" id="hideableDiv">
            <div class="inner-div" style="float: left;" id="first_div">
                <ul>
                    <li>Click on <strong>Load 100 Images</strong> button to load images.</li>
                    <li>Name format - <strong>general name(scientific name)</strong>.</li>
					<li>Press and hold control button and click <strong>(Ctrl+Click)</strong> on the Image to select it, multiple images can be selected if control is pressed.</li>
                    <li>Double-click on the image to open it, once the image is opened, click to zoom-in upto 2 levels, 3rd click will close it.</li>
                    <li>Click on <strong>Show Bounding Box</strong> on top left to draw bounding box on the object. Image can be closed directly by <strong>Close</strong> on top-right.</li>
                </ul>
            </div>
            <div class="inner-div" style="float: left;" id="second_div">
                <ul>
					<li>Click on animal name button to show images.</li>
					<li>No need to classify images if they're already correct.</li>
					<li>Once image[s] is selected, it can be classified by given buttons i.e. Human, No Animal or Human, Not Useable or Custom</li>
                    <li>Verify all the images seletected and right option is clicked before clicking "Move Selected Images" to save.</li>
                    <li>Click Load Next 100 Images to get another set of images.</li>
                    <li>Click on Exit before stopping.</li>
                </ul>
            </div>
            <div class="inner-div" style="float: left;" id="third_div">
                <ul>
                    <li>Click on the name input area to open popup to add change/update names of the objects. Type all names using lower-case letters.</li>
                    <li>Enter either left or right name to get its counerpart, click on Add Another if there are multiple objects in the image.</li>
                    <li>Click on Exit before stopping, please make sure you have verified all the images presented before clicking exit (click on <strong>Load Next 100 Images</strong> if you want to classify more images).</li>
                    <li>Click <a href="/Instructions" target="_blank">here</a> to watch video of the operations for more clarification.</li>
					<li>Click on Hide Instructions to hide to toggle the instructions area.</li>
                </ul>
            </div>
            <br style="clear: left;" />
    </div>
    <div class="selectionContent" id="selection_area">
        <div class="animalButtons" id="animal_buttons">
		</div>
        <div class="operationButtons" id="operationButtons">
            <form id="moveTo">
                <input type="radio" name="action" class="coreOpsButtons" id="humanButton" value="human">Human</button>
                <input type="radio" name="action" class="coreOpsButtons" id="emptyButton" value="noanimalorhuman">No Animal or Human</button>
                <input type="radio" name="action" class="coreOpsButtons" id="naButton" value="notuseable">Not Useable</button>
                <input type="radio" name="action" class="coreOpsButtons" id="othersButton" value="other" checked></button>
                <input type="text" class="animal_name_input_class" id="nameInput" placeholder="" readonly>
                <button id="okButton" class = "coreOpsButtons" disabled="True" onclick="moveImages()">Move Seletected Images</button>
                <button id="resetButton" class = "coreOpsButtons" disabled="True">Cancel Selection</button>
            </form>
            <button id="selectAllButton" class = "coreOpsButtons" disabled="True" onclick="selectAllImages()">Select All</button>
        </div>
        <div class="animalImages" id="animal_images" style=" float: left;  width: 100%;"><h1>Click on the animal name to receive images.</h1></div>
        </div>
        <div id="popup" class="popup">
            <button id="showBoxButton" class="showbox-button">Show Bounding Box</button>
            <span class="conf" id="popup_conf">Confidence:</span>
            <button id="closeButton" style="float: right;">Close</button>
            <img id="zoomImage" src="" alt="Zoomed Image">
        </div>
        <br style="clear: left;" />
    </div>
    <div id="popupForm" class="popup-form">
        <span class="close" onclick="closeForm()">X</span>
        <form id="nameForm">
          <div id="nameinputs">
          <input type="text" id="leftInput1" autocomplete="off" class="left-inputs" value="" />
          <input type="text" id="rightInput1" autocomplete="off" class="right-inputs" value="" />
          <input type="text" id="leftInput2" autocomplete="off" class="left-inputs" value="" style="display: none;"/>
          <input type="text" id="rightInput2" autocomplete="off" class="right-inputs" value="" style="display: none;"/>
            </div>
          <button type="button" class="add-another" id="addinputbutton" onclick="AddAnother()">Add Another</button>
          <br style="clear: left;" />
          <div id="suggestionsContainer">
          <ul id="leftSuggestions" class="list left-suggestions"></ul>
          <ul id="rightSuggestions" class="list right-suggestions"></ul>
        </div>
        <div class="update-names">
            <button type="button" class="add-another" id="savenames" onclick="SaveNames()">Update Name</button>
        </div>
        </form>
      </div>
    <script src="static/CamTrapJSv2.js"></script>
</body>
</html>